body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  padding: 2rem;
  background-color: gray;
  text-align: center;
}

.container::first-letter {
  font-size: 15rem;
  color: red;
  background-color: aliceblue;
  font-family: "Updock", cursive;
  padding: 5rem 0 0 1rem;
}

.container::first-line {
  background-color: red;
  font-size: 5rem;
}

a {
  text-decoration: none;
  color: rgb(0, 153, 255);
}

.trans {
  background-color: aqua;
  transition: all 1s;
  width: 10rem;
  height: 10rem;
  margin: 10rem auto;
  text-align: center;
}

.trans2 {
  width: 10rem;
  height: 10rem;
  margin: 10rem 0;
  animation: roll linear 0.7s infinite;
  border-radius: 500px;
}

@keyframes roll {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.trans3 {
  background-color: aqua;
  transition: all 1s;
  width: 10rem;
  height: 10rem;
  margin: 10rem 0 0;
  text-align: center;
  font-size: larger;
}

.trans:hover {
  background-color: red;
  width: 20rem;
}

.trans3:hover {
  animation: strobe 1s infinite;
}

.header::before {
  content: "👌";
}

.header {
  background-color: brown;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 2rem 0;
}

img {
  width: 10rem;
  height: 10rem;
  border-radius: 500px;
}

.container2 {
  margin-left: 10rem;
  display: flex;
}

@keyframes strobe {
  0% {
    background-color: aqua;
  }
  10% {
    background-color: blueviolet;
  }
  20% {
    background-color: bisque;
  }
  30% {
    background-color: green;
  }
  40% {
    background-color: greenyellow;
  }
  50% {
    background-color: rgb(181, 181, 177);
  }
  60% {
    background-color: orange;
  }
  70% {
    background-color: lemonchiffon;
  }
  80% {
    background-color: black;
  }
  90% {
    background-color: blue;
  }
  100% {
    background-color: aqua;
  }
}

.trans4 {
  background: white;
  animation: flip 1.2s ease infinite;
  width: 10rem;
  height: 10rem;
  margin: 10rem 0 0 0;
}

@keyframes flip {
  0% {
    transform: perspective(10rem) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(10rem) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(10rem) rotateX(-180deg) rotateY(-180deg);
  }
}

.trans5 {
  margin-top: 12rem;
  margin-left: 1rem;
  overflow: hidden;
  position: relative;
  height: 1rem;
  width: 10rem;
  background: white;
}

.trans5:before {
  content: "";
  position: absolute;
  left: -130%;
  width: 100%;
  height: 100%;
  background: black;
  animation: progress 4s linear infinite;
}

@keyframes progress {
  0% {
    left: -130%;
    background: rgba(black, 0.5);
  }
  50% {
    left: 130%;
    background: rgba(black, 0.5);
  }
  51% {
    background: rgba(white, 0.5);
  }
  100% {
    background: rgba(white, 0.5);
  }
}
